In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# 한글은 'uth-8'많이 사용, 파이썬 인코딩과 파일 인코딩이 다르면 에러 발생
df = pd.read_csv('kids.csv', encoding='CP949')

In [5]:
df.head()

,시군구명,어린이집코드,어린이집명,어린이집유형,운영현황,우편번호,상세주소,전화번호,팩스번호,홈페이지주소,...,교직원현황-보육교사,교직원현황-특수교사,교직원현황-치료교사,교직원현황-영양사,교직원현황-간호사,교직원현황-간호조무사,교직원현황-조리원,교직원현황-사무직원,교직원현황-총계,데이터수집일
0,서대문구,11410000379,사랑별어린이집,국공립,정상,3712.0,서울특별시 서대문구 수색로2길 19-7 DMC금호리첸시아아파트 단지 내,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-26 22:03:35.0
1,중구,11140000123,현대캐피탈 도담어린이집,직장,정상,4527.0,서울특별시 중구 세종대로 14 그랜드센트럴 2층 현대캐피탈 도담어린이집,02-6411-6191,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2022-10-26 06:18:44.0
2,광진구,11215000364,광진구육아종합지원센터(꾸미팡팡공동육아방 3호점),국공립,정상,4999.0,서울특별시 광진구 동일로56가길 31 3층,02-466-1827,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-26 22:02:15.0
3,영등포구,11560000498,삼환어린이집,국공립,정상,7227.0,서울특별시 영등포구 영중로 145 영등포삼환아파트 104동 101호,02-2679-5967,NaN,NaN,...,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,7.0,2022-10-26 22:04:35.0
4,구로구,11530000648,별숲어린이집,국공립,정상,8226.0,서울특별시 구로구 경인로43길 49 고척아이파크MD 내 관리실,02-860-0000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-26 22:04:16.0

In [21]:
df2 = pd.read_csv('23년대규모.csv', encoding='CP949')

In [22]:
df2.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명
0,3170000,2.013320e+18,2013-09-06,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 금천구 디지털로 185 (가산동),153-801,마리오아울렛 1관,2023-02-28 20:56,U,03:00.0,쇼핑센터,189943.2343,441784.2475,NaN
1,3170000,2.012320e+18,2012-09-13,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 금천구 벚꽃로 266 (가산동),NaN,마리오아울렛 3관,2023-02-28 21:05,U,03:00.0,쇼핑센터,189759.7131,441814.1159,NaN
2,3140000,2.012310e+18,2012-04-05,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,"서울특별시 양천구 목동서로 100, 105호 (목동,목동3단지아파트 관리동상가)",NaN,롯데슈퍼 목동2점,2023-03-09 9:25,U,01:00.0,구분없음,188700.8512,448020.0910,NaN
3,3180000,2.001320e+18,1999-05-31,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 영등포구 영등포로 109 (당산동2가),150-723,영등포유통상가,2023-03-09 15:28,U,01:00.0,그 밖의 대규모점포,190555.7690,446698.8143,NaN
4,3210000,2.012320e+18,2012-04-24,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 방배로33길 29,137-832,롯데슈퍼 방배2점,2023-03-13 17:40,U,05:00.0,대형마트,198984.3648,443229.8359,NaN

In [23]:
df2[['시', '구', '동', '기타']] = df2['지번주소'].str.split(' ', n = 3, expand=True)
df2

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명,시,구,동,기타
0,3170000,2.013320e+18,2013-09-06,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189943.2343,441784.2475,NaN,서울특별시,금천구,가산동,60번지 22호
1,3170000,2.012320e+18,2012-09-13,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189759.7131,441814.1159,NaN,서울특별시,금천구,가산동,60번지 20호
2,3140000,2.012310e+18,2012-04-05,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,188700.8512,448020.0910,NaN,서울특별시,양천구,목5동,903번지 목동3단지아파트 관리동상가 105호
3,3180000,2.001320e+18,1999-05-31,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,그 밖의 대규모점포,190555.7690,446698.8143,NaN,서울특별시,영등포구,당산동2가,30번지 2호
4,3210000,2.012320e+18,2012-04-24,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,대형마트,198984.3648,443229.8359,NaN,서울특별시,서초구,방배동,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,3040000,2.008300e+18,20080822,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,백화점,206217.4347,448506.2187,NaN,서울특별시,광진구,자양동,227번지 342호 롯데백화점 스타시티점
984,3040000,2.001300e+18,1998-03-23,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,대형마트,208394.4164,448165.2800,NaN,서울특별시,광진구,구의동,546번지 4호
985,3070000,2.012310e+18,2017-04-27,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,201621.3317,456272.2617,NaN,서울특별시,성북구,길음1동,1285번지 7호
986,3070000,2.012310e+18,2012-05-21,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,204208.6312,457844.3480,NaN,서울특별시,성북구,장위동,316번지 3호
987,3070000,2.012310e+18,2012-05-21,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,201548.4956,455659.8179,NaN,서울특별시,성북구,정릉3동,1034번지

In [24]:
df2.drop(index=df2[df2['영업상태명']!='영업/정상'].index, inplace=True)
df2

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명,시,구,동,기타
0,3170000,2.013320e+18,2013-09-06,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189943.2343,441784.2475,NaN,서울특별시,금천구,가산동,60번지 22호
1,3170000,2.012320e+18,2012-09-13,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189759.7131,441814.1159,NaN,서울특별시,금천구,가산동,60번지 20호
2,3140000,2.012310e+18,2012-04-05,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,188700.8512,448020.0910,NaN,서울특별시,양천구,목5동,903번지 목동3단지아파트 관리동상가 105호
3,3180000,2.001320e+18,1999-05-31,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,그 밖의 대규모점포,190555.7690,446698.8143,NaN,서울특별시,영등포구,당산동2가,30번지 2호
4,3210000,2.012320e+18,2012-04-24,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,대형마트,198984.3648,443229.8359,NaN,서울특별시,서초구,방배동,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,3040000,2.008300e+18,20080822,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,백화점,206217.4347,448506.2187,NaN,서울특별시,광진구,자양동,227번지 342호 롯데백화점 스타시티점
984,3040000,2.001300e+18,1998-03-23,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,대형마트,208394.4164,448165.2800,NaN,서울특별시,광진구,구의동,546번지 4호
985,3070000,2.012310e+18,2017-04-27,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,201621.3317,456272.2617,NaN,서울특별시,성북구,길음1동,1285번지 7호
986,3070000,2.012310e+18,2012-05-21,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,204208.6312,457844.3480,NaN,서울특별시,성북구,장위동,316번지 3호
987,3070000,2.012310e+18,2012-05-21,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,201548.4956,455659.8179,NaN,서울특별시,성북구,정릉3동,1034번지

In [25]:
df2['구'].value_counts()

구
영등포구    41
성북구     41
구로구     39
송파구     39
강남구     37
동대문구    33
중구      31
은평구     27
광진구     26
양천구     26
강서구     25
마포구     25
용산구     24
강동구     23
관악구     21
금천구     21
노원구     19
성동구     19
종로구     19
강북구     18
서대문구    17
도봉구     15
동작구     15
중랑구     14
서초구     11
         2
Name: count, dtype: int64

In [26]:
df2.drop(index=df2[df2['구']==''].index, inplace=True)
df2

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명,시,구,동,기타
0,3170000,2.013320e+18,2013-09-06,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189943.2343,441784.2475,NaN,서울특별시,금천구,가산동,60번지 22호
1,3170000,2.012320e+18,2012-09-13,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189759.7131,441814.1159,NaN,서울특별시,금천구,가산동,60번지 20호
2,3140000,2.012310e+18,2012-04-05,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,188700.8512,448020.0910,NaN,서울특별시,양천구,목5동,903번지 목동3단지아파트 관리동상가 105호
3,3180000,2.001320e+18,1999-05-31,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,그 밖의 대규모점포,190555.7690,446698.8143,NaN,서울특별시,영등포구,당산동2가,30번지 2호
4,3210000,2.012320e+18,2012-04-24,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,대형마트,198984.3648,443229.8359,NaN,서울특별시,서초구,방배동,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,3040000,2.008300e+18,20080822,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,백화점,206217.4347,448506.2187,NaN,서울특별시,광진구,자양동,227번지 342호 롯데백화점 스타시티점
984,3040000,2.001300e+18,1998-03-23,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,대형마트,208394.4164,448165.2800,NaN,서울특별시,광진구,구의동,546번지 4호
985,3070000,2.012310e+18,2017-04-27,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,201621.3317,456272.2617,NaN,서울특별시,성북구,길음1동,1285번지 7호
986,3070000,2.012310e+18,2012-05-21,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,204208.6312,457844.3480,NaN,서울특별시,성북구,장위동,316번지 3호
987,3070000,2.012310e+18,2012-05-21,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,구분없음,201548.4956,455659.8179,NaN,서울특별시,성북구,정릉3동,1034번지

In [27]:
df2.drop(index=df2[df2['업태구분명']=='구분없음'].index, inplace=True)
df2

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명,시,구,동,기타
0,3170000,2.013320e+18,2013-09-06,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189943.2343,441784.2475,NaN,서울특별시,금천구,가산동,60번지 22호
1,3170000,2.012320e+18,2012-09-13,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189759.7131,441814.1159,NaN,서울특별시,금천구,가산동,60번지 20호
3,3180000,2.001320e+18,1999-05-31,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,01:00.0,그 밖의 대규모점포,190555.7690,446698.8143,NaN,서울특별시,영등포구,당산동2가,30번지 2호
4,3210000,2.012320e+18,2012-04-24,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,대형마트,198984.3648,443229.8359,NaN,서울특별시,서초구,방배동,
6,3220000,2.001320e+18,1985-07-08,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,00:00.0,백화점,203604.7617,447316.2228,NaN,서울특별시,강남구,압구정동,515호
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,3010000,2.005300e+18,19731030,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,백화점,198315.5327,451248.1416,NaN,서울특별시,중구,남대문로2가,123호
981,3010000,2.004300e+18,2004-06-01,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,08:00.0,대형마트,197242.9948,450658.9479,NaN,서울특별시,중구,봉래동2가,122호
982,3110000,2.012310e+18,20120320,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,그 밖의 대규모점포,193083.7657,455978.0106,NaN,서울특별시,은평구,역촌동,17번지 1호
983,3040000,2.008300e+18,20080822,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,백화점,206217.4347,448506.2187,NaN,서울특별시,광진구,자양동,227번지 342호 롯데백화점 스타시티점
984,3040000,2.001300e+18,1998-03-23,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,대형마트,208394.4164,448165.2800,NaN,서울특별시,광진구,구의동,546번지 4호

In [28]:
df2.drop(index=df2[df2['업태구분명']=='그 밖의 대규모점포'].index, inplace=True)
df2

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명,시,구,동,기타
0,3170000,2.013320e+18,2013-09-06,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189943.2343,441784.2475,NaN,서울특별시,금천구,가산동,60번지 22호
1,3170000,2.012320e+18,2012-09-13,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189759.7131,441814.1159,NaN,서울특별시,금천구,가산동,60번지 20호
4,3210000,2.012320e+18,2012-04-24,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,대형마트,198984.3648,443229.8359,NaN,서울특별시,서초구,방배동,
6,3220000,2.001320e+18,1985-07-08,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,00:00.0,백화점,203604.7617,447316.2228,NaN,서울특별시,강남구,압구정동,515호
7,3060000,2.021310e+18,2021-11-25,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,07:00.0,복합쇼핑몰,208112.8602,457113.6384,NaN,서울특별시,중랑구,신내동,646 금강리빙스텔
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,3010000,2.012300e+18,19791227,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,백화점,198259.6536,451392.1982,NaN,NaN,NaN,NaN,NaN
978,3010000,2.005300e+18,19731030,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,백화점,198315.5327,451248.1416,NaN,서울특별시,중구,남대문로2가,123호
981,3010000,2.004300e+18,2004-06-01,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,08:00.0,대형마트,197242.9948,450658.9479,NaN,서울특별시,중구,봉래동2가,122호
983,3040000,2.008300e+18,20080822,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,백화점,206217.4347,448506.2187,NaN,서울특별시,광진구,자양동,227번지 342호 롯데백화점 스타시티점
984,3040000,2.001300e+18,1998-03-23,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,대형마트,208394.4164,448165.2800,NaN,서울특별시,광진구,구의동,546번지 4호

In [14]:
!pip install folium

Requirement already satisfied: folium in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (0.15.1)
Requirement already satisfied: branca>=0.6.0 in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from folium) (0.7.0)
Requirement already satisfied: jinja2>=2.9 in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from folium) (1.26.1)
Requirement already satisfied: requests in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from folium) (2.31.0)
Requirement already satisfied: xyzservices in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from folium) (2023.10.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from jinja2>=2.9->folium) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from requests->folium) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from requests->folium) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yewon kang\appdata\local\programs\python\python311\lib\site-packages (from requests->folium) (2023.7.22)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
import json
import folium

In [70]:
# # df3 = read_json('HangJeongDong_Seoul.json')
# jpath = 'HangJeongDong_Seoul.geojson'
# HangJeongDong_Seoul = json.load(open(jpath, encoding = 'utf-8'))

In [69]:
# g_map = folium.Map(location=[37.5642135, 127.0016985],
#                   tiles = 'openstreetmap', zoom_start = 11.2); g_map
# fmap = folium.Choropleth(geo_data = HangJeongDong_Seoul,
#                         data = df,
#                         columns = ['지역명','평균'],
#                          key_on = 'feature.properties.adm_nm', fill_color = 'YlOrRd',
#                          fill_opacity = 0.7, line_opacity = 0.3,
#                          legend_name = '동별 거주 인구수',
#                          highlight=True
#                         ).add_to(g_map)

# folium.LayerControl().add_to(g_map)

# fmap.geojson.zoom_on_click = False
# fmap.geojson.add_child(
#     folium.features.GeoJsonTooltip(['adm_nm'],labels=False)
# )
# gmap.save('output/map1.html'); g_map

In [71]:
# folium.Choropleth(
#     geo_data=geo_data,
#     data=pop['인구수'],    
#     columns=[pop.index, pop['인구수']],
#     key_on='properties.temp',
#     fill_color='PuBuGn',
#     fill_opacity=1,
#     line_opacity=0.2,    
#     tooltip=str(pop.index),
#     legend_name = '동별 인구'    
# ).add_to(seoul)

In [29]:
df2

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명,시,구,동,기타
0,3170000,2.013320e+18,2013-09-06,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189943.2343,441784.2475,NaN,서울특별시,금천구,가산동,60번지 22호
1,3170000,2.012320e+18,2012-09-13,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189759.7131,441814.1159,NaN,서울특별시,금천구,가산동,60번지 20호
4,3210000,2.012320e+18,2012-04-24,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,대형마트,198984.3648,443229.8359,NaN,서울특별시,서초구,방배동,
6,3220000,2.001320e+18,1985-07-08,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,00:00.0,백화점,203604.7617,447316.2228,NaN,서울특별시,강남구,압구정동,515호
7,3060000,2.021310e+18,2021-11-25,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,07:00.0,복합쇼핑몰,208112.8602,457113.6384,NaN,서울특별시,중랑구,신내동,646 금강리빙스텔
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,3010000,2.012300e+18,19791227,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,백화점,198259.6536,451392.1982,NaN,NaN,NaN,NaN,NaN
978,3010000,2.005300e+18,19731030,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,백화점,198315.5327,451248.1416,NaN,서울특별시,중구,남대문로2가,123호
981,3010000,2.004300e+18,2004-06-01,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,08:00.0,대형마트,197242.9948,450658.9479,NaN,서울특별시,중구,봉래동2가,122호
983,3040000,2.008300e+18,20080822,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,백화점,206217.4347,448506.2187,NaN,서울특별시,광진구,자양동,227번지 342호 롯데백화점 스타시티점
984,3040000,2.001300e+18,1998-03-23,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,대형마트,208394.4164,448165.2800,NaN,서울특별시,광진구,구의동,546번지 4호

In [30]:
df2.drop(index=df2[df2['사업장명']=='롯데슈퍼하월곡점'].index, inplace=True)
df2

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명,시,구,동,기타
0,3170000,2.013320e+18,2013-09-06,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189943.2343,441784.2475,NaN,서울특별시,금천구,가산동,60번지 22호
1,3170000,2.012320e+18,2012-09-13,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,03:00.0,쇼핑센터,189759.7131,441814.1159,NaN,서울특별시,금천구,가산동,60번지 20호
4,3210000,2.012320e+18,2012-04-24,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,대형마트,198984.3648,443229.8359,NaN,서울특별시,서초구,방배동,
6,3220000,2.001320e+18,1985-07-08,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,00:00.0,백화점,203604.7617,447316.2228,NaN,서울특별시,강남구,압구정동,515호
7,3060000,2.021310e+18,2021-11-25,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,07:00.0,복합쇼핑몰,208112.8602,457113.6384,NaN,서울특별시,중랑구,신내동,646 금강리빙스텔
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,3010000,2.012300e+18,19791227,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,백화점,198259.6536,451392.1982,NaN,NaN,NaN,NaN,NaN
978,3010000,2.005300e+18,19731030,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,백화점,198315.5327,451248.1416,NaN,서울특별시,중구,남대문로2가,123호
981,3010000,2.004300e+18,2004-06-01,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,08:00.0,대형마트,197242.9948,450658.9479,NaN,서울특별시,중구,봉래동2가,122호
983,3040000,2.008300e+18,20080822,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,05:00.0,백화점,206217.4347,448506.2187,NaN,서울특별시,광진구,자양동,227번지 342호 롯데백화점 스타시티점
984,3040000,2.001300e+18,1998-03-23,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,U,02:00.0,대형마트,208394.4164,448165.2800,NaN,서울특별시,광진구,구의동,546번지 4호

In [31]:
df3 = df2['동'].value_counts().to_frame()
df3 #동별 대규모마트 겟수

       count
동
한강로3가      7
독산동        6
신천동        6
길음동        6
목동         6
...      ...
묵동         1
면목동        1
중화동        1
답십리동       1
구의동        1

[126 rows x 1 columns]

In [36]:
# df3을 csv로 만들어서 전체 펼쳐보고 수정하기
df3.to_csv('23_SeoulMart.csv', encoding='CP949')